mandelbrot
*.o
build/

*.pgm
times.txt

evidencias.log

PLANEJAMENTO.md
ROTEIRO_DE_TESTES.md
diario.md
MATERIAL_RELATORIO.md
RELATORIO.md

testes_professor/

*.tar
*.tar.gz

teste_flags
teste_flags.c
saida_stdout.txt
maf.code-workspace
